.footer {
  padding: 40px 20px;
  flex-grow: 0;
  color: var(--light-color-secondary);

  .dark-theme & {
    color: var(--dark-color-secondary);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    @media (--tablet) {
      flex-direction: column;
    }
  }

  &_bio {
    background: var(--light-footer-bio);
    width: 100%;
    max-width: 800px;
    margin-bottom: 100px;
    color: var(--light-color);
    margin: 20px auto;

    @media (--tablet) {
      max-width: 660px;
    }

    &_content {
      padding: 1em 2em;
      flex: 1 1 100%;
      text-align: left;
    }

    &_links {
      padding: 1em 2em;
    }

    .dark-theme & {
      background: var(--dark-footer-bio);
      color: var(--dark-color);
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    &--user {
      margin: auto;
      text-align: center;
    }

    & > *:first-child:not(:only-child) {
      border-right: 1px solid;
      padding-right: 10px;
      margin-right: 10px;

       @media (--tablet) {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    @media (--tablet) {
      flex-direction: column;
      margin-top: 10px;
    }
  }
}

