.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    height: 44px;
  }

  &__mark {
    margin-right: 5px;
  }

  &__cursor {
    display: inline-block;
    width: 2px;
    height: 1rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 2px;
    animation: cursor 1s infinite;
  }
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}