.terms {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0 auto;

  &__list {
    padding: 0;
    padding-left: 20px;
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  &__term {
    margin-bottom: 15px;

    &-count {
      background: var(--light-background-secondary);
      font-size: 12px;
      margin-left: 5px;
      padding: 2px 10px;
      border-radius: 5px;
      text-decoration: none;

      .dark-theme & {
        background: var(--dark-background-secondary);
      }
    }
  }
}
