.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media (--tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;

    @media (--phone) {
      font-size: .85rem;
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;

    @media (--phone) {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;

    img {
      margin: 0 auto;
      border-radius: 8px;
      box-shadow: 0 12px 40px rgba(0, 0, 0, .15);
    }

    @media (--tablet) {
      margin: 20px 0;
      width: 100%;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
