<svg id="ukflag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -35 600 300" width="39" height="39" fill="none" >
    <defs>
        <style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#fff;}.cls-4{fill:#cf142b;}.cls-5{fill:#00247d;}</style>
        <clipPath id="clip-path" transform="translate(150)"><circle class="cls-1" cx="150" cy="150" r="150"/>
        </clipPath>
    </defs>
    <title>EN</title>
    <a xlink:href="{{ $.Site.BaseURL }}"> 
        <g class="cls-2"><rect id="_14" data-name="14" class="cls-3" width="599.69" height="299.97"/>
            <polygon id="_13" data-name="13" class="cls-4" points="269.86 179.89 269.86 299.97 329.83 299.97 329.83 179.89 599.69 179.89 599.69 119.92 329.83 119.92 329.83 0 269.86 0 269.86 119.92 0 119.92 0 179.89 269.86 179.89"/>
            <polygon id="_12" data-name="12" class="cls-5" points="349.83 97.1 349.83 0 543.99 0 349.83 97.1"/><polygon id="_11" data-name="11" class="cls-5" points="349.83 202.87 349.83 299.97 543.99 299.97 349.83 202.87"/>
            <polygon id="_10" data-name="10" class="cls-5" points="249.86 202.87 249.86 299.97 55.7 299.97 249.86 202.87"/>
            <polygon id="_9" data-name="9" class="cls-5" points="249.86 97.1 249.86 0 55.7 0 249.86 97.1"/>
            <polygon id="_8" data-name="8" class="cls-5" points="0 27.89 0 99.99 144.18 99.99 0 27.89"/>
            <polygon id="_7" data-name="7" class="cls-5" points="599.69 27.89 599.69 99.99 455.51 99.99 599.69 27.89"/>
            <polygon id="_6" data-name="6" class="cls-5" points="599.68 272.08 599.68 199.98 455.51 199.98 599.68 272.08"/>
            <polygon id="_5" data-name="5" class="cls-5" points="0 272.08 0 199.98 144.18 199.98 0 272.08"/>
            <polyline id="_4" data-name="4" class="cls-4" points="599.69 0 566.38 0 366.8 99.99 400.11 99.99 600 0"/>
            <polyline id="_3" data-name="3" class="cls-4" points="232.89 199.97 199.58 199.97 0 299.96 33.31 299.96 233.2 199.97"/>
            <polygon id="_2" data-name="2" class="cls-4" points="166.53 100.06 199.84 100.06 0 0 0 16.77 166.53 100.06"/>
            <polygon id="_1" data-name="1" class="cls-4" points="433.05 199.94 399.74 199.94 599.58 300 599.58 283.23 433.05 199.94"/>
        </g>
    </a>
    </svg>

    <svg id="plflag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="140 20 480 300" width="32" height="32" fill="none" >
        <defs>
            <style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#fff;}.cls-4{fill:#dc143c;}</style>
            <clipPath id="clip-path" transform="translate(90)"><circle class="cls-1" cx="150" cy="150" r="150"/></clipPath>
        </defs>
        <title>PL</title>
        <a xlink:href="{{ $.Site.BaseURL }}/pl/"> 
            <g class="cls-2"><rect id="_2" data-name="2" class="cls-3" width="480" height="300"/><rect id="_1" data-name="1" class="cls-4" y="150" width="480" height="150"/>
            </g>
        </a>
    </svg>