<a
  href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
  class="logo"
  style="text-decoration: none;"
>
  {{ if $.Site.Params.Logo.path }}
    <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" />
    {{ else }}
    {{ if $.Site.Params.Logo.simple }}{{ else }}<span class="logo__mark">{{ partial "greater-icon.html" . }}</span>{{ end }}
    <span class="logo__text">{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}hello friend{{ end }}</span>
    {{ if $.Site.Params.Logo.simple }}{{ else }}<span class="logo__cursor"></span>{{ end }}
  {{ end }}
</a>
